html {
    margin: 0;
  }
  
  span {
    display: block;
  }
  
  .canvas {
    margin: 100px auto 100px;
    width: 80%;
    text-align: center;
  }
  
  .button {
    width: 100px;
    height: 100px;
    border: solid black 2px;
    display: inline-block;
  }
  
  #grey {
    background: grey;
  }
  
  #white {
    background: white;
  }

  #blue {
    background: blue;
  }
  
  #yellow {
    background: yellow;
  }

  #green {
    background: green;
  }
  
  nav{
    text-align: center;
    margin-top: 40px;
  }

  nav>a{
    font-family: 'Arial', sans-serif; /* Choose a suitable font */
    font-size: 40px; /* Adjust font size as needed */
    font-weight: bolder;
    color: white;
  
  }

  body{
    background-color: black;
    color: white;
  }

  footer{
    text-align: center;
    position: absolute;
    bottom: 4px;
    width: 100%;
  }